node_modules/
dist/
.vite/
.env
.env.local
.env.*.local
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
.DS_Store
Thumbs.db
.vscode/
.idea/
coverage/
coverage/**
*.log
*.tgz
*.bak
*.swp
.cache/
.history/
/.parcel-cache/
/.pnp/
/.pnp.js